[2015-07-23 00:14] bpytlik opened #1 "add support for parsing JSON schemas and representing them as objects for raml2md or raml2html templates"
The current behavior for JSON schemas is fine as default: consumers of raml2obj see schemas represented as a string.

It would be a nice improvement if raml2obj had a flag that told it to parse JSON schemas into objects. That would allow improved display (or at least improved flexibility) of the schema information in markdown or html when using custom templates.

[2015-07-29 07:10] blakeembrey opened #2 "Invalid error messages when file does not exist"
From https://github.com/raml-org/raml-js-parser/issues/153, `raml2obj` is incorrectly assuming that because it can't load the file it's a source string. See https://github.com/kevinrenskers/raml2obj/blob/master/index.js#L85-L91. If it doesn't exist on the filesystem, it passes it into `load`. This results in a poor user experience and confusion.

P.S. Your `if` check is against a string so no need

[2015-10-14 12:22] MMore commented on #1
+1

[2015-10-14 12:24] kevinrenskers commented on #1
There have been many tickets about schemas and I simply have no need for this myself so I won't spend the little free time I have to add this feature, sorry. This will really have to be added by a contributor via a PR.

[2015-12-10 15:23] alainlecluse opened #3 "add support for RAML 1.0"
The RAML specifications for 1.0 are in RC now (http://docs.raml.org/specs/1.0/).

Are there any plans to support 1.0?

[2015-12-10 21:27] sichvoge commented on #3
Yes, @alainlecluse I currently try to migrate using the beta version of the new JS parser. Don't have any timeline for this though.

[2015-12-10 22:34] sichvoge commented on #3
How are you using that project?

[2015-12-12 07:25] alainlecluse commented on #3
Good to hear that. 1.0 is still in RC but it has a lot of great features.
Where using raml2html.

[2015-12-21 17:43] h0ru5 opened #4 "Support baseUriParameters [moved from raml2html/raml2html]"
This is a transfer from raml2html/raml2html#99

see RAML example there, position for fixing it would probably be here:

https://github.com/raml2html/raml2obj/blob/master/index.js#L9

[2015-12-21 17:48] h0ru5 commented on #4
ok, probably need to initialize the ``allUriParameters`` with the ``baseUriParameters`` and pass them
here:
https://github.com/raml2html/raml2obj/blob/master/index.js#L79

[2016-02-08 13:05] felixhagspiel opened #5 "missing characters in description string"
The description for a resource gets somehow not fully returned.

My resource in `contracts.raml` looks like this (RAML 0.8):

    /{contractId}:
      get:
        description: Get one contract.
        responses:
          200:
            body:
              application/json:
      delete:
        description: Delete a contract. Can only be done if all transactions related to that contract are c

[2016-02-08 13:25] felixhagspiel commented on #5
Okay, seems to be related to the markdown parser. If I remove the `{% markdown %}...{% endmarkdown %}` tags, it works.

[2016-02-08 13:25] #5 closed

[2016-03-02 18:01] jarl-dk commented on #3
:+1:

[2016-03-02 18:06] jarl-dk commented on #3
Seems like there is a working fork at https://github.com/RemRyahirev/raml2obj/tree/master . Could you consider merge that into the official raml2obj and make a npm release

[2016-03-02 20:26] jarl-dk commented on #3
@mikestowe: I think this issue and the fork I've mentioned above is relevant to resolve https://github.com/raml2html/raml2html/issues/156

[2016-03-03 09:00] sichvoge commented on #3
@jarl-dk do you know if that project is tested with the existing tools that rely on it?

[2016-03-11 11:05] kevinrenskers commented on #3
@RemRyahirev if you successfully added RAML 1 support to raml2obj, could you consider creating a pull request to share your changes?

[2016-03-11 18:13] sichvoge commented on #3
just to remind here that i would merge it into a branch instead of master. RAML 1.0 is still in release candidate stage and there are some changes coming for RC2.

[2016-05-02 13:26] DataGreed commented on #3
Any update on this?

[2016-05-02 15:24] mikestowe commented on #3
RAML 1.0 support has been added to the RAML1.0 branch. You should be able to try it out using that branch, but please note that it is still under development as we wait for the RAML 1 specification to be finalized.

[2016-05-02 15:25] DataGreed commented on #3
Oh, i thought it was finalized :) Is there any deadline on finalization,
yet?

sent from a mobile device with autocorrection
2 мая 2016 г. 6:24 PM пользователь "Michael Stowe" <notifications@github.com>
написал:

[2016-06-23 03:46] allanhortle commented on #3
The 1.0 release was given GA status on may 16: https://github.com/raml-org/raml-spec/releases/tag/1.0

[2016-06-26 19:38] thejmazz commented on #3
I've made [my own fork](https://github.com/thejmazz/raml2obj) which uses the AST methods rather than `toJSON` to make the object.  It's quite a divergence, but I think using the AST methods has its own advantages at the expense of being more verbose. I'm aiming to have it produce an object that js-yaml would except with types/schemas resolved. It's how I first approached it after reading the getti

[2016-06-26 19:42] thejmazz commented on #1
I think I have partially solved this in my fork (needs tests, try edge cases, union types, etc), given [this RAML](https://github.com/thejmazz/raml2obj/blob/23a3a9941bbb5b6dca5c12545117f4a277655af2/test/todos/todos.raml), can produce an object with the type properties resolved:

![screen shot 2016-06-26 at 1 19 00 pm copy](https://cloud.githubusercontent.com/assets/1270998/16364414/4ef70230-3bb4-1

[2016-06-30 12:32] sichvoge commented on #3
@thejmazz I think using the AST methods is a necessary step to be honest. The problem here is the expansion of types and libraries; especially libraries that the current JSON object does not cover. What would be your solution?

[2016-06-30 12:37] sichvoge commented on #1
Does that mean you expand the JSON object on the fly? How are you going to avoid circular dependencies?

[2016-07-01 03:23] thejmazz commented on #3
The way I expanded types was along the lines of was if `body.type()[0]` was not a regular type (number, string, etc) it would try to pull that definition from `api.types()`.

Not sure what libraries are..just starting to use RAML

Can you post an example of this problem?

[2016-07-01 03:25] thejmazz commented on #1
Im not using the JSON object, I'm building my own object from the AST methods, and type definitions comes from `api.types()`. What would an example of a circular dep. be? A type that has itself inside?

[2016-07-01 12:32] sichvoge commented on #1
Attaching one.

[circular-tests.zip](https://github.com/raml2html/raml2obj/files/343454/circular-tests.zip)

[2016-07-01 12:39] sichvoge commented on #3
Posted in [here](https://github.com/raml2html/raml2obj/issues/1#issuecomment-229935208)

[2016-07-01 18:32] thejmazz commented on #1
Thanks, I'll try that out. Here's a screenshot for those just browsing through:

![image](https://cloud.githubusercontent.com/assets/1270998/16530993/85aff8d0-3f98-11e6-99d7-66bccab2df7d.png)

(Fira code turns `[]` into a box)

[2016-07-01 21:40] bpytlik commented on #1
I ended up writing a json schema expander that preprocessed the json schemas so that all raml ever saw was expanded schemas. You can detect circular dependencies as you expand if you keep track of what you've already expanded. When I detected them, I just errored out w/ (I think) a helpful error message.

[2016-07-01 22:37] thejmazz commented on #1
Playing with those circular test files, I did something similar. Kept a list of visited libraries, and used that not to error out, but declare a "SEEN" object:

[code]

This at least prevents a maximum call stack size exceeded error. Also note `seen` is on object with keys as RAML file names and values as the reference to the object for that one.

Then I switched the `{SEEN: 'lib1.raml'}` to the v

[2016-09-12 03:06] garrychnca commented on #4
@kevinrenskers Will baseUriParameters be supported by the next release for spec 1.0?

[2016-09-12 06:31] kevinrenskers commented on #4
That's the plan, yes!

[2016-09-13 15:42] kevinrenskers commented on #3
Closing this ticket. Initial support for RAML 1.0 has been added in the develop branch and released as 4.0.0-beta1, and I have been hard at work to make the raml object easier to work with for clients like raml2html and raml2md. This will soon be released as 4.0.0-beta2.

It doesn't seem necessary to use the AST methods, as the raml-parser seems to handle the expansion of types and libraries just

[2016-09-13 15:42] #3 closed

[2016-09-13 15:44] kevinrenskers commented on #4
Actually I thought this ticket was for raml2html, and that will add support for baseUriParameters. There should not be any work needed in raml2obj, so I am closing this ticket.

[2016-09-13 15:44] #4 closed

[2016-09-13 15:47] kevinrenskers commented on #2
This is no longer an issue in 4.0.0-beta1 and beyond.

[2016-09-13 15:47] #2 closed

[2016-09-15 16:47] sichvoge commented on #3
@kevinrenskers is the output of the raml2obj project significant different? would it be good to have a schema that describes what raml2obj produces. I think that could immensely improve the experience using that module

[2016-09-15 17:03] kevinrenskers commented on #3
Mostly we just add extra stuff to the raml object, but one big difference with the raw output from the raml parser is that I made the output consistent wrt arrays, objects, objects with wrapper objects, etc etc.

The unit tests should serve as a good source of documentation of the output format, but we can always document it more, sure.

[2016-09-15 19:17] sichvoge commented on #3
It would be really cool to have some kind of schema. :)

[2016-09-21 05:30] wbbradley commented on #1
I'm not 100% certain, but it would make sense that RAML forbids self-referential type definitions. So, you may be able to simply detect the cycle, and error out.

See [docs here](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#introduction-1).

[2016-09-22 09:48] h0ru5 commented on #4
actually yes, raml2html/raml2html#99

[2016-09-30 13:00] kevinrenskers opened #13 "Add a schema for raml2obj output"
We'd like to get a schema of the output that raml2obj generates.

JSON representation of the world-music-api example RAML file: https://github.com/raml2html/raml2obj/blob/develop/test/worldmusic.json. This can be used as a starting point.

[2016-09-30 13:02] kevinrenskers commented on #13
http://jsonschema.net could be useful as well.

[2016-09-30 13:13] sichvoge commented on #13
Thanks Kevin. Just to highlight, that schema will help to provide useful feedback to create a better parser output.

[2016-10-03 19:35] pguillebert opened #14 "Having a property called 'body' breaks parser"
Hi

I'm using raml2html@4.0.0-beta5 and raml2obj@4.0.0-beta6. We're modeling our API using RAML and some JSON object (RAML type) has a `body` field storing the body of a message (along with title, date, etc)

Error is:
[code]

Is it a spec issue or a parser issue ? Thank you.

[2016-10-03 19:36] pguillebert commented on #14
Oh, and this is a RAML 1.0 spec.

[2016-10-03 19:38] sichvoge commented on #14
Can you post your RAML file please.

[2016-10-03 20:12] pguillebert commented on #14
[code]

[2016-10-03 20:18] kevinrenskers commented on #14
Thanks, I see the problem and will fix it tomorrow.

[2016-10-04 09:52] kevinrenskers commented on #14
Fixed, released beta 7. Thanks for your bug report!

[2016-10-04 09:52] #14 closed

[2016-10-10 10:16] iwex opened #15 "[RAML 1.0] Inheritance of types"
Could you please add inheritance of types, so we can see all properties: for current type and its parents.

[2016-10-12 16:26] alexnitta commented on #15
Here's a detailed example of how this plays out with Response documentation.

I'm converting a RAML 1.0 file with `raml2html` version 4.0.0-beta7, which uses `raml2obj`. I noticed that any Query Parameter that lists a type that inherits from another type will display the parent type instead of the child type. This happened when running `raml2html` from the command line with the default template.

[2016-10-14 14:16] kevinrenskers commented on #15
This should be fixed in raml2obj 4.0.0-beta9.
raml2html 4.0.0-beta8 was also just released which uses the new raml2obj.

Please test and let me know how it works for you. There is a known issue regarding array types where the child properties are not displayed, but this looks like a bug in the `datatype-expansion` library.

[2016-10-14 21:26] alexnitta commented on #15
Looks like the fix mostly works - thanks for your quick action on this. It does use the child properties as expected. The only wrinkle is that they appear out of order with respect to the RAML file. The `properties` of `OutputResource` should appear in alphabetical order, but they do not. The ones that use child properties are listed before the others.

Here's the current HTML output created with

[2016-11-14 21:08] alexnitta commented on #15
Checking back on this, I'm now seeing that child properties are shown differently in GET requests vs. POST requests. Things render mostly as expected for POST requests - which is what I was seeing in the prior comment. However, a GET request still shows the wrong output. It shows the name and description of the parent type, rather than the child type.

For example:

**Child type:**

[code]

**Pare

[2016-11-16 18:00] alexnitta commented on #15
FYI, te above example is from raml2html@4.0.0-beta14.

[2016-11-18 09:36] marvinhagemeister opened #17 "TypeError: result.expand is not a function"
I have a raml 1.0 file which I passed through the beta of raml2html. raml2obj throws a `TypeError: result.expand is not function`. This occurs because `result.expand` is `undefined`  https://github.com/raml2html/raml2obj/blob/develop/index.js#L262

[2016-11-18 11:03] kevinrenskers commented on #17
All unit tests pass, and I am able to parse my files just fine. I am guessing your RAML file has a problem, or that your `npm install` had some problems maybe?

[2016-11-18 16:38] marvinhagemeister commented on #17
I'll see if I can get a reproducible test case next week

[2016-11-22 16:20] marvinhagemeister commented on #17
As promised, here is a simple test case, which reproduces the error:

[code]

[2016-11-22 16:23] kevinrenskers commented on #17
Hm but this is not the type of file you'd use with raml2html or raml2obj, it's not a "root" raml file. Of course it shouldn't throw this error, instead it show throw the original error from the official raml parser, so I'll work on that. Thanks for the example!

[2016-11-22 16:27] marvinhagemeister commented on #17
Oh I see, thanks for clearing it up. I have multiple `.raml` files here and indeed there is a root file.

[2016-11-22 16:27] #17 closed

[2016-11-22 17:06] kevinrenskers commented on #17
Nonetheless, the next version will have improved error messaging :)

[2016-11-30 03:45] lijithv opened #18 "Exception thrown when using libraries"
There has been an issue with raml-js-parser-2 where it used to throw an error if libraries are used. Please refer to [#553](https://github.com/raml-org/raml-js-parser-2/issues/553)

This has been fixed in raml-1-parser **1.1.9** and raml2obj has to be updated to use the same.

[2016-11-30 22:25] kevinrenskers commented on #18
Done, thanks.

[2016-11-30 23:47] lijithv commented on #18
Cool. Thanks @kevinrenskers. I tested raml2html@4.0.0-beta18 with the new release of raml2obj and its not throwing an exception anymore when using libraries.

[2016-11-30 23:47] #18 closed

[2016-12-02 17:24] jarrodek opened #19 "Is there a way to make it work in a browser?"
I tried to use browserify  but I have a lot of problem when including `datatype-expansion`. It uses Google JS Library (`goog` scripts) that uses some dirty hacks for including some variables into the global namespace. So they have this `nodeGlobalRequire` function which can be processed by `browserify`. It may work in node but definitely will not work in the browser.

I also tried to work with the

[2016-12-02 17:29] kevinrenskers commented on #19
You'd probably have to ask the `datatype-expansion` guys if the problem lies there, but I doubt it would work anyway because raml2obj uses the Node `fs` API.

Not sure why you'd want to use it in the browser anyway? Are you using raml2obj standalone (as in, not with raml2html or raml2obj)?

[2016-12-02 17:52] jarrodek commented on #19
Thanks for quick reply.
I'm using the library in web based projects. It's a web app(s) that uses RAML or rather it's parser's JS output. I'll also contact `datatype-expansion` team to ask them about this.

[2016-12-02 18:02] kevinrenskers commented on #19
You could just use the official raml-parser instead of raml2obj maybe?

If there are any changes you can contribute to this project so that it becomes usable in a browser, I'd love to see a PR. For now I am closing this ticket though.

[2016-12-02 18:02] #19 closed

[2016-12-02 19:55] jarrodek commented on #19
I am using the RAML JS parser. The problem is that the output is not what I call usable output ;) I have 4th approach to write my own normalizer and data type expander when someone suggested me to use this library. So I was trying to use it in my projects. I already have data normalization ready (like your `arrayToObject` and `objecTtoArray` function but I still missing a part where I have data ty

[2016-12-02 20:06] kevinrenskers commented on #19
True, their output is kind of horrible to work with :(

[2017-01-02 16:09] asargento opened #21 "Type inheritance does not work properly when additionalProperties is set to true"
When parsing the following raml file, I found that the sub type is not expanded properly.
The raml file is
[code]

The result of parsing this file if **subType additionalProperties** is **true** is different if it has value **false**. The subType is not expanded.
After parsing, on **post** method result is
[code]
And it should be equal when setting additionalProperties to false.

[code]
In attachm

[2017-01-02 16:10] asargento commented on #21
I found that if a subType property is of type array, this problem also occurs.
The raml example is, where I defined a new property **prop3**
[code]

The parse output is also incorrect.

[2017-01-02 16:11] asargento commented on #21
I create this output  as follows:
[code]

[2017-01-19 17:51] sichvoge opened #24 "Looking for more awesome people to contribute"
RAML2OBJ powers one of the most successful RAML projects with over 24k downloads in the last month, [RAML2HTML](https://github.com/raml2html/raml2html). With the latest changes, supporting RAML 1.0, we are currently looking for awesome people that help us to maintain and keep it as successful as it is.

Kevin, the brain behind that project, will move on to tackle other projects. Hence, it’s your t

[2017-01-22 02:36] MichaelIT commented on #24
yes, I like to help this project, but I am lack of experience for contribution on github.I will try my best to do it if u give me a try.

[2017-01-23 10:30] kevinrenskers commented on #24
Awesome! The best way to get started is simply by picking up open issues in raml2obj and raml2html. Fix some bugs, add missing features, send pull requests, help to answer questions. After that we can give you push access to the repos.

[2017-01-24 01:45] MichaelIT commented on #24
ok, I will be back after Chinese New Year holiday.

[2017-01-24 09:25] sichvoge commented on #24
Super awesome! Thanks @MichaelIT, looking forward for your contribution.

[2017-02-01 07:54] DataGreed opened #27 "object properties don't inherit correctly"
When using example from docs:

[code]

I get just Invoice fields in output. Id field specified in properties is not rendered. The same problem goes when specifying this properties in one of resourceTypes (though it may be the same problem, dunno).

Same thing goes if you use this example:

[code]

In this case no properties are rendered at all

[2017-02-02 16:14] psychoo118 commented on #27
I also experienced this issue and the result of my investigation was that its source is in raml-org/raml-js-parser-2. The output of the parser does not contain the inherited properties so the issue is there.
My workaround was to define Teacher in the following way:

[code]

[2017-02-02 23:16] kevinrenskers opened #28 "Look into upgrading datatype-expansion dependency"
Newest version of datatype-expansion is 0.1.1 but it causes one failing test

[code]

[2017-02-03 11:38] nickwb commented on #28
Behavior of unions changed with datatype-expansion `0.1.0`.

While fixing the unit test is easy, it's likely to regress existing users who have union types in their APIs.

I'm also not sure that it will the desired behavior. It's a bit weird - but union types seem to be getting "pushed up", so you have root types with union sub-properties which end up taking on every permutation of its union child

[2017-02-03 11:46] kevinrenskers commented on #28
Regressions are fine if we do it with a major update, so 5.0.0 for example. As for this particular instance, yeah I'm not sure either. @sichvoge, do you maybe have any insight here?

[2017-02-03 11:48] kevinrenskers commented on #28
(Oh yeah in case you didn't know, Christian aka @sichvoge works with the RAML Workgroup, is involved with raml2html as well, and is the author of datatype-expansion.)

[2017-02-03 12:13] sichvoge commented on #28
Wouldn't say I am the author, but I am literally sitting next to him :) I'll speak to him.

[2017-02-03 14:55] antoniogarrote commented on #28
Hi, @kevinrenskers I have taken a look at your spec.
The correct canonical type is the one generated by version 0.1.1.

You are computing the canonical form of `RAMLDataType` that includes one union `CatOrDog` and an object with an optional property `NilValue`. With that input, the expected output of the canonical form is a single union at the top level with types covering all the possible combina

[2017-02-06 10:45] sichvoge commented on #27
@psychoo118 did you raise it on their repo?

[2017-02-06 10:48] psychoo118 commented on #27
Now I'm not sure of the cause, I will look into it tomorrow

[2017-02-13 23:16] kevinrenskers opened #30 "Warnings when upgrading to raml-1-parser version 1.1.14"
raml-1-parser version 1.1.14 is resulting in a some warning when running the unit tests:

[code]

Do we need to fix our test RAML files, or is there a problem with the parser? @sichvoge do you have any idea who needs to fix what here?

[2017-02-13 23:41] kevinrenskers commented on #28
Hey guys, what's the status of this? Can we update to datatype-expansion 0.1.1 and solve https://github.com/raml2html/raml2html/issues/280 in the process?

[2017-02-14 02:18] nickwb commented on #28
I would find it difficult to recommend that course of action. It will cause breakages for anyone using optional properties or union types. To upgrade, we probably need to write our own mechanism to go from expanded form to not-quite-canonical form.

[2017-02-14 03:47] sichvoge commented on #30
Good question @kevinrenskers. I can ask the team to review the RAML and if there is any problem with that. Please point me to the test that fails.

[2017-02-14 12:32] timeros07 opened #31 "Raml 1.0 Extension doesn't work"
When i write
[code]
paths from common.raml file is not included in results.

[2017-02-14 20:43] kevinrenskers commented on #30
They all come from worldmusic.spec.js

[2017-02-15 10:35] kevinrenskers opened #33 "We got a failing unit test"
[code]

@nickwb, @psychoo118, both of you made changes to the array types right? Seems a test case was missed maybe?

[2017-02-15 10:38] kevinrenskers commented on #33
I fixed the unit test, see https://github.com/raml2html/raml2obj/commit/4a2af768b25dd1dffcfedd2b6de02908d1deeb07. Hopefully this fix is indeed as expected :)

[2017-02-15 10:41] kevinrenskers commented on #33
Actually this change that caused this came from @ashlanderr, not @nickwb or @psychoo118. Sorry, hard to keep track of everything :)

[2017-02-15 10:42] #33 closed

[2017-02-15 10:48] kevinrenskers commented on #33
Ugh there wasn't even a failing test, it was because I was going back and forth between raml2obj versions and had to reinstall its dependencies.

[2017-02-17 12:44] ashlanderr opened #34 "Inheritance from type "any" does not work correctly"
If I do something like this:
[code]
Then field `data` does not contains properties from type `SampleResponseData` and has type `any`

[2017-02-17 12:54] ashlanderr commented on #34
I think the problem is in types merging at https://github.com/raml2html/raml2obj/blob/master/consistency-helpers.js#L17:
[code]
Base type needs to be assigned before derived type. And properties (of object type) need to be recursively merged too.

[2017-02-28 19:49] nickburns2006 commented on #31
I dove into this today, the problem is in the raml-1-parser dependency. The issue is referenced:  raml-org/raml-js-parser-2#658. They've released a new version 1.1.15 that fixes it.

So updating the dependency solves it. I'll submit a PR.

[2017-02-28 19:54] nickburns2006 commented on #31
PR #35

[2017-03-10 12:31] asargento opened #36 "Example section inheritance does not work properly"
Type inheritance example is not working properly.
Here goes my example:
[code]
On the final result, the example section for response body for `GET /api` should be only the example defined on `resourceResponse`. But instead, it inherits the examples from `id` and `href` (their parent types).
This not correct, because it leads to an examples section with lots of information that does not belong in t

[2017-03-17 12:13] kevinrenskers commented on #28
If we do the `expandedForm` step but then skip the `canonicalForm` one, how would that impact raml2obj (and raml2html)?

[2017-03-21 15:14] kevinrenskers opened #37 "Update raml parser"
Latest version atm: 1.1.18

[2017-03-24 15:10] sichvoge opened #38 "test the new "load" function of the js parser"
Hi, the JS parser version 1.1.15 introduces a new `load` function that gives you the JSON output immediately without you having to call "parse", "expand(true)", and "toJSON".

The JSON that is coming back is an improved version of the previous with feedback from @kevinrenskers on what he had to do in this project. It should be more consistent now.

Please test and give us feedback! :)

Schema: htt

[2017-03-24 16:27] kevinrenskers commented on #38
Sounds awesome!

[2017-03-24 17:00] #37 closed

[2017-04-07 11:29] rankun203 opened #39 "Traits does not work properly with status code"
The error is: `STATUS_MUST_BE_3NUMBER: Status code should be 3 digits number.`.

I'm using raml2html 6.1.0 to translate raml files to html API doc. But I can't actually use something like respWithCode trait. Below is the code:

[code]

The complete error message is:

[code]

[2017-05-10 12:01] pimpreneil opened #40 "Nesting of multiple array types"
I don't know if the issue has already been raised (at least, I haven't found any clear demonstration of this problem).

The issue I have spotted is the following:
When you want to nest two "array" types, it fails rendering the nested object.

Let's take the example of multiple library that contain multiple books

[code]

If you render that with the default theme, in the popup, you will get the fol

[2017-05-10 12:29] pimpreneil commented on #40
The culprit seems to be the `datatype-expansion`. Indeed, after the `tools.canonicalForm` call, this:

[code]

becomes that:

[code]

[2017-05-10 12:43] pimpreneil commented on #40
If we use the `[]` syntax (instead of the array type), it works. The reason is that the books property's `items` field is not an array in that case:

[code]

Let 's now find out how to fix that...

[2017-05-10 12:47] kevinrenskers commented on #40
Awesome that you're already debugging the problem! Hopefully we can work around `datatype-expansion` as it's not possible at the moment to upgrade to a newer version of that library because it causes other problems :(

[2017-05-10 13:03] pimpreneil commented on #40
Well, I have juste reproduced the bug on the latest version of the `datatype-expansion` so I am going to raise a ticket directly on the parser (because it does not produce a consistant output for the two notations)

[2017-05-10 13:36] pimpreneil commented on #40
FYI, here is the ticket I opened at the parser https://github.com/raml-org/raml-js-parser-2/issues/731

[2017-05-10 13:59] pimpreneil commented on #40
If anybody is interested, here is a quick and ugly fix. I won't do a PR as I think that it is not this project that should adapt:

[code]

[2017-05-13 10:32] sichvoge commented on #39
That's actually not a problem in this project but rather on the JS parser. Can you open a new ticket there, please?

[2017-05-24 11:59] #39 closed

[2017-05-24 12:00] kevinrenskers commented on #40
It looks like this issue here can be closed. Thanks again for your investigation and reporting upstream.

[2017-05-24 12:00] #40 closed

[2017-05-24 12:02] kevinrenskers commented on #34
I am going to close old issues, and will ask that new bug reports instead be created as a pull request with a failing unit test. Sorry, but I just don't have the time and energy to do it all alone :/

See also https://github.com/raml2html/raml2obj/blob/develop/CONTRIBUTING.md. Thanks!

[2017-05-24 12:02] #34 closed

[2017-05-24 12:03] #31 closed

[2017-05-24 12:03] kevinrenskers commented on #21
I am going to close old issues, and will ask that new bug reports instead be created as a pull request with a failing unit test. Sorry, but I just don't have the time and energy to do it all alone :/

See also https://github.com/raml2html/raml2obj/blob/develop/CONTRIBUTING.md. Thanks!

[2017-05-24 12:03] #21 closed

[2017-05-24 12:03] kevinrenskers commented on #27
I am going to close old issues, and will ask that new bug reports instead be created as a pull request with a failing unit test. Sorry, but I just don't have the time and energy to do it all alone :/

See also https://github.com/raml2html/raml2obj/blob/develop/CONTRIBUTING.md. Thanks!

[2017-05-24 12:03] #27 closed

[2017-05-24 12:04] kevinrenskers commented on #15
I am going to close old issues, and will ask that new bug reports instead be created as a pull request with a failing unit test. Sorry, but I just don't have the time and energy to do it all alone :/

See also https://github.com/raml2html/raml2obj/blob/develop/CONTRIBUTING.md. Thanks!

[2017-05-24 12:04] #15 closed

[2017-05-28 13:26] MichaelIT commented on #38
I am woking on it.

[2017-05-28 13:40] kevinrenskers commented on #38
Might actually be best to wait a little bit since the parser guys are thinking about overhauling their output to make life easier for projects like ours.

[2017-05-28 15:48] MichaelIT commented on #38
https://github.com/raml2html/raml2obj/compare/develop...MichaelIT:develop

Hi, I have change to new "load" function of the js parser. But a lot of thing need u guys to confirm😢.
And there is still one test faild. I am new in github contribution,  please let me know if u have any suggestion! @kevinrenskers @sichvoge

[2017-05-30 10:48] sichvoge commented on #38
@MichaelIT First and foremost, thanks! :) We are actually thinking about adding more improvements to the "load" method. We have some plan in place already and if you like we can involve you in validating the interface (JSON output). Let me know.

So, let's park this issue. I am sure @kevinrenskers has other more pressing issues for you to work on ;)

Again, we are really happy for any contribution

[2017-06-05 13:55] #36 closed

[2017-07-20 09:30] wdullaer opened #42 "`Types` is not an alias of `schemas`"
The description of the top level `schemas` key says that it is a deprecated alias for the new `types` key.
This means that I would expect the `types` key to be present if the raml file contains a `schemas` key.

This is not the case in the output of raml2obj right now (you get one or the other).

Furthermore, the content of these keys is also not identical.
`schemas` will return an array of object

[2017-07-24 05:49] sichvoge commented on #42
I think that should be raised in the parser.

[2017-07-24 12:14] #42 closed

[2017-08-31 13:37] DataGreed opened #44 "SPACES_IN_KEY error triggered with !functions"
Whenever I have a key in resourceTypes with a value like `<<resourcePathName | !singularize>>` I sometimes get the following error:

[code]

This seems like a bug, especially because I usually get this error only if there are any other errors present in the document (if there are no others, this one is usually not getting triggered).

Acccording to the spec (https://github.com/raml-org/raml-spec/b

[2017-08-31 13:38] kevinrenskers commented on #44
All errors come from https://github.com/raml-org/raml-js-parser-2, so please report it there. This is not something I can solve for you, sorry!

[2017-08-31 13:38] #44 closed

[2017-08-31 13:42] DataGreed commented on #44
Thanks, moved it to https://github.com/raml-org/raml-js-parser-2/issues/784

[2017-10-18 21:32] trevorr commented on #28
Also note that 0.2.x is much faster than earlier versions (due to a rewrite from ClojureScript to JavaScript) and fixes a number of bugs where expansion or canonicalization completed failed. raml2obj currently ignores expansion and canonicalization errors, so bugs in that may have been going unnoticed (particularly since the RAML parser started returning all types wrapped in an array, which earlie

[2017-10-18 21:48] kevinrenskers commented on #28
That would be great!

[2017-10-19 07:31] sichvoge commented on #28
Go for it @trevorr and let us know if you need anything.

[2017-10-24 13:20] pimpreneil opened #45 "Handling of multiple types"
When we want a array to return different types, the RAML specification allows to provide multiple types separated by a pipe.

Let's take this example

[code]

The URL /ok will be properly interpreted as an array of ThrillerBooks, but for the /bug URL, the lib tries to find the "ThrillerBook|PoetryBook" type (I have checked, the raml-1-parser lib returns "ThrillerBook|PoetryBook" in the item field,

[2017-10-31 14:13] attah opened #46 "Order of "properties" is lost compared to raml-1-parser"
True, JSON maps are unordered by nature, but order is sometimes significant for documentation to look good. The JSON output from raml-1-parser has the field names in the same order as in the RAML file, but after passing through raml2obj, they are in the regular hash-order. Perhaps properties should not even be a map, but a list, since the order can be important.

I will attempt to look in to this,

[2017-11-01 22:19] trevorr commented on #28
With some recent fixes, the `develop` branch of datatype-expansion now passes all the raml2obj tests. Once they provide a release with those fixes, I'll submit a PR that updates the version.

I also plan to include a minor change to how the library is called. Currently, the async/callback forms of `expandedForm` and `canonicalForm` are used without any error checking. Since those callbacks are alw

[2017-11-01 22:26] kevinrenskers commented on #28
Sounds very good.

[2017-11-02 19:40] jstoiko commented on #28
datatype-expansion@0.2.4 [released](https://github.com/raml-org/datatype-expansion/releases/tag/v0.2.4)

[2017-11-02 20:51] trevorr commented on #28
Hmmm, a new test failure has appeared:

[code]

[2017-11-02 21:01] jstoiko commented on #28
weird. let me know if that’s anything on our side.

[2017-11-02 21:32] trevorr commented on #28
It looks like the test is in error. The type in question has a union property (`CatOrDog: Cat | Dog`), and canonicalization is correctly changing the top level type to `union`. Does anyone know if the canonicalization algorithm intentionally changed in that regard since 0.0.15?

[2017-11-03 10:51] #28 closed

[2017-11-03 10:58] kevinrenskers commented on #28
It's merged to develop! raml2obj 5.7.0 is ready to be merged to master and published to npm. Can someone double check that everything works with raml2html, that nothing breaks?

[2017-11-03 11:01] kevinrenskers commented on #28
Also, @trevorr if you'd like an invite to become part of the raml2html org, let me know. Happy to add you as a contributor.

[2017-11-03 13:18] trevorr commented on #28
raml2html works better for me, although I still get 3 canonicalization errors in `minType` (now shown on stderr, and _way_ fewer than before) from a large-ish API I'm working on:

[code]

This results in some properties showing up with type `[object Object]`. I'll look into fixing those.

Also, based on the `union` test I had to change above, I'm thinking about proposing that "union-hoisting" be m

[2017-11-03 13:21] kevinrenskers commented on #28
By the way, we really need to remove this logging because the standard way to use raml2html is something like `raml2html example.raml > example.html`, so now that would include all this output from raml2obj. We really can't release it like that. Sorry I didn't realize that before.

[2017-11-03 13:22] trevorr commented on #28
The logging goes to stderr, not stdout, so normal redirection is unaffected.

[2017-11-03 13:23] kevinrenskers commented on #28
Ah that sounds good. I don't really know enough about that haha.

I'll send the invite your way, but please keep working in feature branches, don't commit directly to develop or master :)

[2017-12-08 19:47] mikedeco commented on #46
Based on the raml using yaml syntax I attempted to put a hyphen in front of the properties. This seemed to maintain the order, but the results from raml2html lost the property names.

Example raml snippet:

[code]

The above did not guarantee order but would display the names appropriately, something like the following:

**- description:** (string)
  The description.
**- name:** (string)
  The nam

[2018-02-22 16:30] Raederle commented on #24
I'm definitely interested in contributing.  I added a minor fix to the raml2html default-template and will look through the issues list to see if there are other places I can contribute.

[2018-02-22 16:31] kevinrenskers commented on #24
Awesome! We just had 2 issues reported related to the new 7.0.0 release, maybe you could look into those?

[2018-06-14 09:50] gc1508 opened #53 "Type inheritance is not working"
Hi there.

Have three types:
Action inherits from Link
Link inherits from Text
Text inherits from object

Text defines the base properties (text fields).
Link extends Text by adding two additional properties, uri and target.
Action extends Link by adding one additonal property, reference.

While debugging:
- Text.properties exists and it's correctly defined;
- Text.rawType.properties exists and it

[2018-06-21 16:02] trevorr commented on #53
Please share RAML, relevant code, and raml2obj output.

[2018-08-27 07:09] mattattard opened #54 "Annotations types are converted twice"
Hi! I don't know if I am using it correct but I have an issue when trying to use annotation types in raml.  I am trying to make some modifications dynamically when an annotation is present, but for some reason the raml2obj is outputting arr.reduce is not a function.

[code]

This is the code I am tring to run just converting the raml into an object and then converting it into a html file using the

[2018-09-13 17:07] kevinrenskers commented on #1
Closing due to inactivity.

[2018-09-13 17:07] #1 closed

[2018-09-13 17:07] #13 closed

[2018-09-13 17:07] #38 closed

[2018-09-13 17:08] kevinrenskers commented on #53
Closing due to inactivity, no example given, etc.

[2018-09-13 17:08] #53 closed

[2018-11-21 17:58] ferclaverino-bina opened #57 "Unable to canonicalize type"
I just created a PR explaining the issue and adding unit test to reproduce: https://github.com/raml2html/raml2obj/pull/56

thanks!!

[2019-03-24 14:58] nkuehn commented on #46
This is a "feature turned into bug".  If you look here in the implementation:

https://github.com/raml2html/raml2obj/blob/develop/index.js#L99
[code]

It seems to be the actual purpose of this library is to make properties accessible by key in the object representation.  Unfortunately that by design loses the order semantics since object properties are by specification of JSON and JS unordered.  T

[2019-03-24 16:01] attah commented on #46
Hmm, I though this was solved (don't have time to check details right now). It may very well just be that now raml2obj happens to spit out an object with the keys in the correct order, and then the nunjucks template respects the order...

[2019-03-24 16:05] nkuehn commented on #46
In JSON and JavaScript there is no such thing as an object that guarantees the order of properties being retained.   Implementations (e.g. Node.js) may typically retain the order of a JSON declaration when iterating over the properties, but that's a best effort try but not a reliable thing.

If you safely want the order retained you need a different JSON structure or an additional Array that safel

[2019-03-24 16:10] attah commented on #46
Indeed, completely agree. This needs a more proper fix.

[2019-03-24 22:03] nkuehn commented on #46
See my PR #58  , at least for use cases outside raml2html that's my proposal

[2019-09-25 22:35] JoshLitt opened #61 "update to use webapi-parser"
`raml2-js-parser` has been deprecated. The new parser is [webapi-parser](https://github.com/raml-org/webapi-parser)

[2019-09-26 07:36] kevinrenskers commented on #61
A PR with that change would be very welcome.

[2021-02-18 15:52] jaavierlunaa opened #67 "Examples from custom types are being polluted"
In `consistency-helpers.js`, when parsing the examples from the RAML obj with custom types, you are creating the `mergedObj` with the elements from `obj` and `types[obj.type]`. The problem is that, if `types[obj.type]` contains examples, those examples could be an array, and those examples will be passed by reference. Causing this problem:

![Screenshot from 2021-02-18 09-46-48](https://user-image

[2021-02-18 18:36] #67 closed

[2021-06-22 19:36] aljones15 opened #72 "Mac Osx Node 14: Invalid or unexpected token"
[code]

[2021-06-23 15:08] kevinrenskers commented on #72
Can you explain what you were doing to get this error? This is not enough info to go off. I am able to run raml2html just fine on macOS using Node 15 for example.

[2021-06-28 15:16] aljones15 commented on #72
using a documentation library that uses `raml2html`:

https://github.com/raml2html/raml2html/blob/449f0528c9f0100ad53c6f5b2fc0fe7ccff5b1ae/index.js#L3

https://github.com/digitalbazaar/bedrock-docs/blob/72678bba8fc6d3b67b7676703f07e3c7866bb8e7/lib/services.docs.js#L13

I just ran into this issue again today. Several sources claim the problem is `index.js` is not `UTF-8` encoded.

[2021-06-28 15:25] kevinrenskers commented on #72
The only place where `#!/usr/bin/env node` is included, is in the command line application, inside [bin/raml2html](https://github.com/raml2html/raml2html/blob/master/bin/raml2html). So it kinda looks like the wrong file is getting required?

[2021-06-28 16:12] aljones15 commented on #72
the one that is throwing (according to the stack trace) is the

https://github.com/raml2html/raml2obj/blob/9a0a4e794472de9b9ec9a70b974138341b93bd9b/index.js#L1

in your library. which is required by `raml2html`'s index.js.

[2021-06-28 16:18] kevinrenskers commented on #72
Ah, good find. Yeah I am not sure why that one has that header.. it's not a CLI at all.

[2021-06-28 16:22] kevinrenskers commented on #72
I've published raml2obj 6.8.1, hopefully that fixes things.

[2021-08-20 11:20] paimon0715 opened #73 "refresh the lockfile to automatically remove the vulnerability introduced by validator"
Hi, @kevinrenskers, I have reported a [vulnerability issue](https://github.com/zaggino/z-schema/issues/269) in package **z-schema**.

As far as I am aware, vulnerability [**SNYK-JS-VALIDATOR-1090600**](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090600),  [**SNYK-JS-VALIDATOR-1090599**](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090599), [**SNYK-JS-VALIDATOR-1090602**](https://snyk.io/vuln/SNYK-JS-VALIDA